@use '@/shared/styles/variables' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-m) var(--spacing-2xl);
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  line-height: 1.5;
  border-radius: var(--radius-s);
  text-align: center;
  transition: var(--transition-fast);
  cursor: pointer;
  text-decoration: none;
  border: none;
  user-select: none;
  width: fit-content;

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-l) var(--spacing-2xl);
    font-size: var(--fs-input);
  }
}

.primary {
  background-color: var(--primary-color);
  color: var(--text-color-button);

  &:hover {
    background-color: var(--primary-color-hover);
    box-shadow: var(--shadow-main);
  }
}

.border {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: var(--text-color-button);
  }
}

.round {
  border-radius: var(--radius-full);
}

.arrowIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.arrowRight,
.arrowLeft,
.arrowUp,
.arrowDown {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.arrowRight {
  flex-direction: row;
}

.arrowLeft {
  flex-direction: row-reverse;
}

.arrowUp {
  flex-direction: column-reverse;
}

.arrowDown {
  flex-direction: column;
}
