@use '@/shared/styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

.navbarArea {
  padding: 1.5rem 0;
  transition: padding 0.3s ease-in-out;
}

.headerScrolled {
  background-color: var(--header-color);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.08);

  .navbarArea {
    padding: 0.5rem 0;
  }

  .navbarNav a {
    color: var(--title-color) !important;
  }

  .togglerIcon {
    background-color: var(--title-color);
  }
}

.hidden {
  transform: translateY(-100%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 8rem;
}

.toggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  @media (max-width: $breakpoint-m) {
    display: block;
  }
}

.togglerIcon {
  display: block;
  width: 2.5rem;
  height: 0.2rem;
  background-color: var(--heading-color);
  margin: 0.5rem 0;
  transition: all 0.3s ease-in-out;
}

.menuBar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $breakpoint-m) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--header-color);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    padding: var(--spacer-md) 0;
  }
}

.menuBar.open {
  display: block;
}

.navbarNav {
  display: flex;
  list-style: none;
  margin-right: 3rem;

  a {
    transition: color 0.3s ease-in-out;
    color: var(--heading-color);
    font-weight: var(--font-weight-normal);
  }

  @media (max-width: $breakpoint-m) {
    flex-direction: column;
    padding: var(--spacer-md) 3rem;

    a {
      color: var(--title-color);
    }
  }
}

.navItem {
  margin: 0 1.5rem;

  @media (max-width: $breakpoint-m) {
    margin: 0;
    a {
      padding: var(--spacer-md) 0;
      display: block;
    }
  }
}

.headerBtn {
  margin-left: 2rem;

  @media (max-width: $breakpoint-m) {
    display: none;
  }
}
