@use '@/shared/styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-header);
  background-color: transparent;
  transition: transform var(--transition-base), background-color var(--transition-base);
}

.headerScrolled {
  background-color: var(--bg-header);
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-main);
}

.hidden {
  transform: translateY(-100%);
}

.navbarArea {
  transition: background-color 0.3s ease-in-out;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menuBarDesktop {
  display: none;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  @media (min-width: $breakpoint-m) {
    display: flex;
  }
}

.navbarNavDesktop {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--gap-2xl);
  a {
    font-size: var(--fs-nav-desktop);
    font-weight: var(--fw-medium);
    color: var(--text-color-link);
    transition: var(--transition-fast);

    &:hover {
      color: var(--text-color-link-hover);
    }
  }

  a.active {
    color: var(--text-color-link-hover);
  }
}

.headerBtnDesktop {
  margin-left: var(--spacing-2xl);
}

.headerButton {
  padding: var(--spacing-m) var(--spacing-2xl);
}
