@use '@/shared/styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-header);
  background-color: transparent;
  transition: transform 0.45s cubic-bezier(0.2, 0.8, 0.2, 1), opacity 0.35s ease, background-color 0.25s ease;
  will-change: transform, opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: var(--spacing-l);

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-l) 0;
  }
}

.headerScrolled {
  background-color: var(--bg-header);
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-main);
}

.hidden {
  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;
}

.navbarArea {
  transition: background-color 1s ease-in-out;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.menuBarDesktop {
  display: none;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  @media (min-width: $breakpoint-m) {
    display: flex;
  }
}

.navbarNavDesktop {
  list-style: none;
  display: flex;
  gap: var(--gap-xl);
  a {
    font-size: var(--fs-nav-desktop);
    font-weight: var(--fw-medium);
    color: var(--text-color-link);
    text-shadow: var(--shadow-main);
    transition: var(--transition-fast);

    &:hover {
      color: var(--text-color-link-hover);
    }
  }

  a.active {
    color: var(--text-color-link-hover);
  }
}

.headerBtnDesktop {
  margin-left: var(--spacing-2xl);
}

.headerButton {
  padding: var(--spacing-m) var(--spacing-2xl);
}
