@use '@/shared/styles/variables' as *;

.navLink {
  display: block;
  font-weight: 500;
  color: var(--text-color-link);
  position: relative;

  &:hover,
  &.active {
    color: var(--text-color-link-hover);
  }
}
