:root {
  /* COLORS */
  --primary-color: #5f6fff;
  --heading-color: #ffffff;
  --title-color: #161616;
  --body-color: rgba(0, 0, 0, 0.7);
  --light-bg: #f5f5f5;
  --border-color: #eee;
  --link-hover-color: var(--primary-color);

  /* FONTS */
  --font-family-base: 'Sen', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* SPACING */
  --spacer-md: 1rem;
  --section-padding-y: 12rem;

  /* FONT SIZES */
  --fs-body: 1.6rem;
  --fs-a: 1.6rem;
  --fs-p: 1.6rem;
  --fs-h1: 5rem;
  --fs-h2: 4rem;
  --fs-h3: 2.8rem;
  --fs-h4: 1.8rem;

  /* HEADING COLORS */
  --color-h1: #191822;
  --color-h2: #191822;
  --color-h3: #191822;
  --color-h4: #292929;

  --color-description: rgba(0, 0, 0, 0.7);
}

$breakpoint-s: 76.8rem;
$breakpoint-m: 99.2rem;
$breakpoint-l: 120rem;
$breakpoint-xl: 140rem;
