@use '@/shared/styles/variables' as *;

.brandsSection {
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
}

.sliderTrack {
  display: flex;
  width: max-content;
  animation: scroll-left 10s linear infinite;
}

.singleBrands {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-m) var(--spacing-l);
  min-width: 18rem;

  @media (min-width: $breakpoint-m) {
    min-width: 20rem;
    padding: var(--spacing-l) var(--spacing-xl);
  }

  @media (min-width: $breakpoint-l) {
    min-width: 25rem;
    padding: var(--spacing-l) var(--spacing-2xl);
  }

  img {
    max-width: 100%;
    max-height: 4rem;
    height: auto;
    transition: var(--transition-fast);

    @media (min-width: $breakpoint-m) {
      max-height: 5rem;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
