@use '@/shared/styles/variables' as *;

.heroWrapper {
  padding: var(--spacing-3xl) 0;
  background: url('@/assets/images/hero/hero-bg.svg');
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
}

.heroSection {
  position: relative;
  padding: var(--spacing-3xl) 0;

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-4xl) 0;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  width: 100%;
  margin-bottom: var(--spacing-2xl);

  @media (min-width: $breakpoint-m) {
    width: 46%;
  }

  h1 {
    span {
      color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
    }
  }
}

.heroImage img {
  width: 100%;
  text-align: center;

  @media (min-width: $breakpoint-m) {
    position: absolute;
    max-width: 50%;
    top: 15%;
    right: 0%;
  }

  @media (min-width: $breakpoint-l) {
    max-width: 70%;
    right: -20%;
  }
}
