@use '@/shared/styles/variables' as *;

.serviceBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--spacing-2xl);

  @media (min-width: $breakpoint-m) {
    flex-direction: row;
  }
}

.services {
  text-align: center;
  max-width: 100%;
  padding: var(--spacing-xl);
  @media (min-width: $breakpoint-m) {
    max-width: 28%;
  }
}

.sectionTitle {
  text-align: center;
}

.serviceIcon {
  width: 5rem;
  height: 5rem;
  border-radius: var(--radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--text-color-button);
  margin: 0 auto;

  @media (min-width: $breakpoint-m) {
    width: 7rem;
    height: 7rem;
    font-size: 3.5rem;
  }
}

.serviceContent h4 {
  margin: var(--spacing-2xl) 0;
}
